*{
    margin: 0px;
    padding: 0px;
}
body{
    
    background-image: url(/home/luiscv/Documentos/customkitchen/images/fondo-textura-madera.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header{
   margin: 0%;
}

.container-fluid{
    margin: 0px;
    background-color:rgba(163, 107, 22, 0.589);
    height: 75px;
}
.nav-link{
    color: aliceblue;
    font-size: 22px;
}
.navbar-brand{
    font-size: 45px;
}
#container{
    background-color: beige;
    height: 800px;
    width: 1300px;
    margin: 0px auto;
}

.titulo1{
    align-content: center;
    text-align: left;
    margin-bottom: 0px;
    width: 90%;
    border-bottom: 2px solid gray ;
}
#carouselExampleIndicators{
    margin:30px auto;    
    width: 90%;
}
.carousel-inner{
    height: 550px;
    align-content: center;
}
.carousel-item{
    height: 65vh;
    align-content: center;
}